body {
  background-color: #1a1a1a !important;
}
.App {
  text-align: center;
  font-family: Roboto Mono;
  color: rgb(67 64 64);
}
.Banner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 75px;
}
.Banner nav {
  display: flex;
  align-items: center;
  width: 65%;
  gap: 8%;
  font-size: 1.4em;
}
.Banner nav a {
  text-decoration: none;
  color: white;
  position: relative;
}

.Banner nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  color: black;
  background-color: white;
  transition: width 0.3s ease;
}

.Banner nav a:hover::after {
  color: black;
  width: 100%;
}

#LogoAP {
  display: flex;
}
.Logo {
  display: flex;
  height: 135px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 823px;
  gap: 50px;
}
form h2 {
  font-size: 4.4em;
}
form input {
  font-family: Roboto Mono;
  color: rgb(67 64 64);
  font-size: 0.9em;
  height: 30px;
}
form label {
  width: 200px;
}
.form-info-section {
  display: flex;
  align-items: center;
  gap: 8%;
}
form button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: Roboto Mono;
  font-size: 1.4em;
  border-radius: 2px;
  width: 16%;
  height: 58px;
  color: aliceblue;
  background-color: rgb(67 64 64);
}
form button:hover {
  color: rgb(67 64 64);
  background-color: aliceblue;
  border-color: rgb(67 64 64);
  cursor: pointer;
}
.form-button {
  padding-top: 65px;
  width: 100%;
}

.login-container {
  display: flex;
}
.login-section {
  display: flex;
  width: 50%;
}

/* Blog */

.form-ajout {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  height: 100%;
}
label textarea {
  width: 270px;
  font-family: Roboto Mono;
}
.button-add-image button {
  border-radius: 25px !important;
  width: 70% !important;
  height: 50px !important;
}
.button-add-article {
  width: 35%;
  padding-top: 10%;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-body {
  width: 100%;
  padding: 25px;
  background-color: white;
}
.modal-header {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.modal-header .btn-close {
  width: 10%;
  transition: transform 0.3s ease;
}
.modal-header .btn-close:hover {
  transform: rotate(180deg);
  cursor: pointer;
}
.custom-modal button {
  background: none;
  border: none;
  padding: 0px;
  margin: 0;
  font-family: Roboto Mono;
  font-size: 1.4em;
  border-radius: 2px;
  width: 100%;
  height: 58px;
  color: aliceblue;
  background-color: rgb(67 64 64);
}
button {
  background: none;
  border: none;
  padding: 0px;
  margin: 0;
  font-family: Roboto Mono;
  font-size: 1.4em;
  border-radius: 2px;
  height: 58px;
  color: aliceblue;
  background-color: rgb(67 64 64);
}
.modal-backdrop .page-background {
  background-color: rgba(0, 0, 0, 0.5);
}

.button-add-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}
.custom-btn {
  background: none;
  border: none;
  padding: 0px;
  margin: 0;
  font-family: Roboto Mono !important;
  font-size: 1.4em;
  border-radius: 1px !important;
  border-color: rgb(67 64 64) !important;
  height: 58px;
  color: aliceblue !important;
  background-color: rgb(67 64 64) !important;
}
.custom-btn:hover {
  color: rgb(67 64 64) !important;
  background-color: aliceblue !important;
  border-color: rgb(67 64 64) !important;
  cursor: pointer;
}

/* Articles */

.article-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
  border-right: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  gap: 20px;
  padding-top: 110px;
}
.article-list img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.article {
  display: flex;
  width: 68%;
  height: 350px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;

  transition: all 0.5s ease 0s !important;
}
.article:hover {
  width: 70%;
  height: 360px;
  box-shadow: -1px 0px 13px #f0f0f0;
}
.img-container {
  width: 35%;
}
.img-container img {
  height: 100%;
}
.article-main-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  background-color: rgb(67 64 64);
  color: white;
}
.category-tag {
  background-color: white;
  color: rgb(67 64 64);
  border-radius: 2px;
  width: 22%;
}
.category-tag:hover {
  background-color: rgb(67 64 64);
  color: azure;
  border: 1px solid #f0f0f0;
  cursor: pointer;
}
.tag-data {
  display: flex;
  height: 25px;
  justify-content: space-between;
  width: 100%;
  padding-left: 5%;
  height: 25px;
  padding-right: 5%;
}
.article-title {
  display: flex;
  box-sizing: border-box;
  width: 40%;
  padding: 5%;
  border-right: 1px solid #f0f0f0;
}
.article-title h2 {
  width: 100%;
  word-wrap: break-word;
  box-sizing: border-box;
}
.article-description {
  display: flex;
  align-items: center;
  width: 60%;
  padding: 5%;
}
.title-description {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  padding: 5%;
}
.article-description p {
  width: 100%;
  word-wrap: break-word;
  box-sizing: border-box;
}

.category-tags {
  display: flex;
  width: 70%;
  gap: 5px;
}
.category-tag {
  width: 100%;
}
.article-date {
  width: 30%;
}
.button-add-category {
  width: 45% !important;
  border-radius: 10px !important;
}
/* Home */

.Typewriter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 50%;
  font-size: 1.4em;
  color: white;
}
